@{
    Layout = null; // не використовувати компонування.
                   // Компонування необхідні створення сторінок по шаблону. Будуть розглянуті у наступних уроках
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    Hello World!
</body>
</html>
